* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }
  body{
    background-color: #161623;
  }
  
  
  section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    overflow: hidden;
  }
  
  h1 {
    position: absolute;
    top: 0;
    color: white;
    padding-top: 50px;
    font-family: 'Chicle', cursive;
    font-size: 4rem;
  }
  
  .box {
    margin-top: 100px;
    position: relative;
    z-index: 1000;
  }
  
  .container {
    position: relative;
    width: 380px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #dycalendar {
    width: 100%;
    padding: 10px;
  }
  
  #dycalendar table {
    width: 100%;
    margin-top: 20px;
    border-spacing: 8px;
  }
  
  #dycalendar table tr:nth-child(1) td {
    background: #f8d7d7;
    color: #111;
    border-radius: 4px;
    font-weight: 600;
  }
  
  #dycalendar table td {
    color: #fff;
    /* padding: 10px; */
    cursor: pointer;
    border-radius: 4px;
  }
  
  #dycalendar table td:hover {
    background: #fff;
    color: #111 !important;
  }
  
  .dycalendar-month-container .dycalendar-today-date,
  .dycalendar-target-date {
    background: #fff !important;
    color: #111 !important;
    border-radius: 8px;
    font-family: 'Fira Sans', sans-serif;
  }
  
  .dycalendar-month-container
    .dycalendar-header
    .dycalendar-prev-next-btn.prev-btn {
    background: #f0f329;
    color: #111;
    width: 44px;
    height: 38px;
    left: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: 'Fira Sans', sans-serif;
  }
  
  .dycalendar-month-container
    .dycalendar-header
    .dycalendar-prev-next-btn.next-btn {
    background: #f0f329;
    color: #111;
    width: 44px;
    height: 38px;
    right: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: 'Fira Sans', sans-serif;
  }
  
  .dycalendar-month-container .dycalendar-span-month-year {
    color: #9d98b5;
    font-size: 1.5em;
    font-weight: 500;
  }
  
  footer 
  {
    text-align: center;
    color: #51fd00;
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 10px;
    padding: 5px;
    font-family: 'Rancho', cursive;
  }
  
  footer a:visited
  {
    color: inherit;
  }

  footer p
  {
    margin: 0px;
  }
  
  @media (max-width: 400px)
  {
  }