* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .heading {
    color: white;
    font-size: 4rem;
    text-align: center;
    position: absolute;
    top: 0;
    padding: 100px;
    font-family: 'Chicle', cursive;
  }
  
  section {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #19172e;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .clock {
    position: relative;
    width: 450px;
    height: 150px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    font-family: 'Fira Sans', sans-serif;
  }
  
  .clock .container {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .clock .container h2 {
    font-size: 3.5rem;
    margin: 10px;
  }

  .clock .container #hour{
    color: #9100ff;
  }

  .clock .container #minute{
    color: #f3a61a;
  }
  
  .clock .container #seconds{
    color: rgb(229, 255, 0);
  }
  
  .clock .container h2:nth-child(odd) {
    padding: 5px 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  }
  
  #ampm {
    position: relative;
    top: 30px;
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
  }
  
  footer 
  {
    text-align: center;
    color: #51fd00;
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 10px;
    padding: 5px;
    font-family: 'Rancho', cursive;
  }
  
  footer a:visited
  {
    color: inherit;
  }

  footer p
  {
    margin: 0px;
  }
  
  @media (max-width: 500px)
  {
    .heading {
      font-size: 3rem;
      padding: 70px;
    }

    .clock {
      width: 350px;
      height: 100px;
    }

    .clock .container h2 {
      font-size: 2rem;
      margin: 5px;
    }
  }