* {
    margin: 0;
    padding: 0;
    user-select: none;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #19172e;
  }
  
  .heading {
      color: white;
      font-size: 4rem;
      text-align: center;
      position: absolute;
      top: 0;
      padding: 80px;
      font-family: 'Chicle', cursive;
    }

  h2 {
    position: absolute;
    top: 0;
    padding-top: 140px;
    color: white;
    font-size: 4rem;
    text-align: center;
    font-family: 'Chicle', cursive;
  }

  .section
  {
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 20px;
    font-family: 'Fira Sans', sans-serif;
  }
  
  #img {
    width: 150px;
    height: 150px;
  }
  
  #btn {
    cursor: pointer;
    color: #fff;
    background: #333;
    font-size: 24px;
    padding: 15px;
    border-radius: 8px;
    bottom: 0;
    margin: 20px ;
    font-family: 'Fira Sans', sans-serif;
  }
  
  #btn:active {
    background: #1e8e3e;
  }
  
  footer 
  {
    text-align: center;
    color: #51fd00;
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 10px;
    padding: 5px;
    font-family: 'Rancho', cursive;
  }
  
  footer a:visited
  {
    color: inherit;
  }

  footer p
  {
    margin: 0px;
  }

  @media (max-width: 400px)
  {
    .heading
    {
      font-size: 3rem;
      padding: 40px;
    }

    .section
    {
      width: 200px;
      height: 200px;
    }
    #img {
      width: 100px;
      height: 100px;
    }
    
    #btn {
      font-size: 20px;
      padding: 15px;
      margin: 5px;

  }
}