* {
    box-sizing: border-box;
  }

  
  body {
    background-color: #19172e;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
  }
  
  h3 {
    font-size: 3rem;
    font-family: 'Chicle', cursive;
    text-align: center;
    color: white;
  }
  
  .container {
    font-family: 'Baloo Bhai 2', cursive;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    max-width: 100%;
    padding-top: 80px;
  }
  
  .card {
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin: 10px;
    height: 80px;
    width: 80px;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 0.4s linear;
  }
  
  .card.show {
    transform: rotateY(0deg);
  }
  
  .card .front,
  .card .back {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .card .front {
    transform: rotateY(0deg);
  }
  
  .card .back {
    transform: rotateY(180deg);
  }
  
  .card i {
    font-size: 28px;
  }
  
  footer 
  {
    text-align: center;
    color: #51fd00;
    font-size: 1.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 10px;
    padding: 5px;
    font-family: 'Rancho', cursive;
  }
  
  footer a:visited
  {
    color: inherit;
  }

  footer p
  {
    margin: 0px;
  }

  @media (max-width: 418px)
  {
    h3
    {
      font-size: 2rem;
    }
    .card {
      height: 60px;
      width: 60px;
    }
    .container {
      width:325px;
    }
  }