

body 
{
  color: white;
	background-color: #19172e;
  font-family: 'Baloo Bhai 2', cursive;
}

h1 
{
  text-align: center;
  font-size: 48px;
  font-family: 'Chicle', cursive;
}

.container
{
    width: 80%;
    min-width: 300px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.container *{
    font-family: 'Baloo Bhai 2', cursive;
    border: none;
    outline: none;
}
.inputs-wrapper{
    background-color: #080808;
    padding: 30px 25px;
    border-radius: 8px;
    box-shadow: 0 15px 20px rgba(0,0,0,0.3);
    margin-bottom: 50px;
}
input,
button{
    height: 50px;
    background-color: #ffffff;
    color: #080808;
    font-weight: 500;
    border-radius: 5px;
}
input{
    width: 60%;
    padding: 0 20px;
    font-size: 14px;
}
button{
    width: 30%;
    float: right;
}
.outputs-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.outputs-wrapper div{
    height: 100px;
    width: 100px;
    background-color: #080808;
    border-radius: 5px;
    color: #ffffff;
    display: grid;
    place-items: center;
    padding: 20px 0;
    box-shadow: 0 15px 20px rgba(0,0,0,0.3);
}
span{
    font-size: 30px;
    font-weight: 500;
}


footer 
{
  text-align: center;
  color: #51fd00;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 10px;
  padding: 5px;
  font-family: 'Rancho', cursive;
}

footer a:visited
{
  color: inherit;
}

footer p
{
  margin: 0px;
}

.container #display 
{
	font-size: 20px;
	color: #fff;
	padding-bottom: 61px;
}

.container code {
	font-size: 0.875em;
	color: #d63384;
	word-wrap: break-word;
}
.hedi{
	justify-content: center;
	font-size: 50px;
	text-align: center;
	color: #fff;
	padding-top: 20px;
}

  
  
  @media (max-width: 560px)
  {
    input
    {
      width: 50%;
      font-size: 14px;
    }

    .section {
      width: 80%;
      margin: 5px auto;
      padding: 5px;
    }
    .controls {
      margin: 10px auto;
      font-size: 15px;
    }
    input[type="text"] {
      width: 90%;
      font-size: 15px;
    }
  
  }

  @media (max-width: 460px)
  {
    .section 
    {
      width: 95%;
    }
  
    .controls 
    {
      width: 90%;
    }
  }